#app {
	max-width: 1200px;
	margin: 0 auto;
}

.header {
	margin-top: 20px;
}

.btn-outline-secondary {
    color: #6c757d;
    background-color: transparent;
    background-image: none;
    border-color: #6c757d;
    transition: color .15s ease-in-out,
    	background-color .15s 
}

.btn-outline-secondary:hover {
	background-color: #6c757d;
	color: #fff;
}

input {
    margin-bottom: 10px;
}

img {
    max-width: 200px;
}

#auth {
    max-width: 500px;
    margin: 0 auto;
    padding-top: 200px;
}

.logo {
    text-align: center;
}

.hidden {
    display: none;
}

.valid {
    border: solid 2px #34a462;
}

.invalid {
    border: solid 2px #ea7462;
}

.error-alert {
    font-size: 14px;
    color: #ea7462;
    transition: height .3s;
}

.error-registration {
    border: solid 2px #ea7462;
    font-size: 14px;
}